
body {

    background-color: #97a5e8;

}

.container{

    background-color: #874233;
}
.container .container{

    background-color: #388733;
    display:inline-block;
}

.container .container .card{

    display:inline-block;
    vertical-align:middle;
    margin: 33px;
    min-width: 20%;
    max-width: 90%;
}

.container .container .card .card-img-top{
    max-width: 100%
}

.container .container .card .card-img-member{
    max-width: 100%;
    margin: auto;
}
