
body {

    background-color: #97a5e8;

}

.container{

    background-color: #874233;
}
.container .container{

    background-color: #388733;
    display:inline-block;
}

.container .container .card{

    display:inline-block;
    margin: 33px;
}
