{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1> Plusieurs groupes se sont produits dans nos salles de concerts.</h1>
        <div class="container">
            {% for hall in hall %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('images/'~ hall.picture)  }}" alt="Card image for band">
                <div class="card-body">
                    <p class="card-text"><a href="{{ path('hall_show', {id: hall.id}) }}">{{ hall.name|e }}</a>
                    </p>
                </div>
            </div>


        {% endfor %}
        </div>
    </div>


{% endblock %}